$red: #f38ba8;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$blue: #89b4fa;
$lavender: #b4befe;

$base: #1e1e2e;
$overlay0: #6c7086;

button {
  color: $blue;
  background: transparent;
  border: transparent;
  font-size: 0;
}
